@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
  margin-bottom: 16px;
}

/* solution */

a { /* remove underline from links */
  text-decoration: none;
  color: slategray;
}

ul {
  list-style-type: none; /* remove dots */
  margin: 0; /* didn't have this */
}

.header,.footer {
  display: flex;
  justify-content: space-between;
  /* align-items: center; wasn't needed should have checked*/
  padding: 16px;
}

.footer {
  background-color: lightgray;
  /* margin-top: auto; not needed after flex in body? unsure */
}

.right-links,.left-links {
  display: flex; /* these could have just been under ul above */
  gap: 16px;
  padding: 0; /* was 8 */
}

.content {
  display: flex;
  align-items: center;
  flex-direction: column;
  /* margin-top: auto; */
  justify-content: center; /* needed these 2 */
  flex: 1; /* try and remember what this does */
}

body { /*thanks google. This got the content to the middle and footer to the bottom */
  display: flex;
  flex-direction: column;
}

button {
  padding: 8px 16px; /* forgot 16px which extends width*/
}